
body {
    font-family: 'Opens Sans Condensed', sans-serif;
    color: black;
    overflow-x: hidden;
    margin:0;
    padding:0;
}

.rowHome {
    background:url("../img/pattern.svg");
    background-size:cover;
    background-repeat:no-repeat;
    height:100vh;
    color:white;
}

.title {
    font-size:50pt;
    font-family:Jura;
    text-align:center;
    padding-top:20%;   
}

.hrSmall {
    width:5%;
}

strong {
    color:#2c2c2c;
}

.centered{
    float: none;
    margin: 0 auto;
}

.underTitle {
    margin-top:0;
    font-size:15pt;
    text-align:center;
    font-family: Dosis;/*Lato*/
    font-weight:lighter;
    letter-spacing:1px;
}

#workInProgress {
    text-align:center;
    font-size:40pt;
    font-family:Share Tech Mono;
    position:absolute;
    bottom:1%;
}

